.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.example-app-name {
    margin-left: 8px;
}

.app-sidenav-container {
    flex: 1 0 auto;
}

mat-sidenav-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}