<div class = "device-management-component">

    <device-info [btnRefreshClickedSignal]="eventSubject.asObservable()">
    </device-info>
    <device-stations (btnRefreshClicked)="eventSubject.next()">
    </device-stations>
    
</div>